@model Student_Attendance.ViewModels.DivisionViewModel

<form asp-action="@(Model.Id > 0 ? "EditDivision" : "CreateDivision")" asp-controller="Academic" onsubmit="return submitForm(this);" autocomplete="off">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Division Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClassId">Class</label>
        <select asp-for="ClassId" class="form-control" asp-items="@(Model.Classes ?? new List<SelectListItem>())">
            <option value="">Select Class</option>
        </select>
        <span asp-validation-for="ClassId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
