@{
    ViewData["Title"] = "Import";
}

<h1>Import Students</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <form asp-action="Import" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="file">Select File</label>
                <input type="file" name="file" class="form-control" />
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>